.main-toolbar{
    background-color: blanchedalmond;
}
.body{
    font-family: 'Source Code Pro';
}
.margin-left-4{
    margin-left: 4vw;
}
.margin-left-3{
    margin-left: 3vw;
}
.click-point{
    cursor: pointer;
}
.right-0{
    right: 0%;
}