<p>
  <mat-toolbar class="main-toolbar">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span (click)="type = 'home'" class="margin-left-4 click-point">Home</span>
  <!-- <span class="margin-left-4">Intresting Findings</span> -->
  <span (click)="type = 'diagram'" class="margin-left-4 click-point">How it works</span>
  <span (click)="type = 'me'" class="margin-left-4 click-point">Me</span>
</mat-toolbar>
</p>
<app-home [type]="type"></app-home>