.example-form {
    width: 35vw;
  }
.date{
    width: 12vw;
}
.margin-left-2{
    margin-left: 2vw;
}
.margin-left-5{
    margin-left: 5vw;
}
.filter{
    margin-top: -3vh;
}
  .example-full-width {
    width: 100%;
  }
  .input-comments {
    width: 100%;
    border: 0px;
    outline: none;
  }