.input-key {
    width: 52vw;
  }
.date{
    width: 12vw;
}
.margin-left-date{
    margin-left: 0.5vw;
}
.sc-margin-left-2{
  margin-left: 2vw;
}
.hide-class{
  opacity: 0;
}
.show-class{
  opacity: 1;
}
.width-80{
  width: 80%;
}
.width-100{
  width: 100%;
}
.error{
  color: red;
  font-size: 11px;
}
.margin-left-3{
  margin-left: 3vw;
}
.pos-rel{
  position: relative;
}
.margin-top-7{
  margin-top: 7vh;
}
.padding-left{
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vh;
}
.margin-top-2{
  margin-top: 2vh;
}
.font-15{
  font-size: 15px;
}
.width-45{
  width: 45%;
}
.width-22{
  width: 22vw;
}
.mat-divide{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 3vh;
  border-right-width: 2px !important;
  border-right-style: solid;  
  border-color: black;
  height: 5vh;
}
.margin-left-5{
    margin-left: 5vw;
}
.filter{
    margin-top: -3vh;
}
  .example-full-width {
    width: 100%;
  }
  .input-comments {
    width: 100%;
    border: 0px;
    outline: none;
  }