<div *ngIf="type == 'home'">
    <div class="padding-left">
        App allows us to find the people's sentiment regarding something by parsing the tweets based on the key term. Only tweets from last 7 days can be parsed as the app is using twitter API with only essential access. We can also choose how many tweets to analyze (Default is 500). It can be increased, but request will take longer duration. As I only have essential level access to Twitter API, the app can only parse tweets from last 7 days.
    </div>
    <div class="margin-top-7" fxLayoutAlign="center enter">
        <div class="margin-left-3" fxLayout="row">
            <div fxLayout="row">
                <div>
                    <mat-form-field class="input-key" appearance="outline">
                        <mat-label>Key word</mat-label>
                        <input matInput placeholder="Ex: Queen Elizabeth" [(ngModel)]="inputReddit">
                    </mat-form-field>
                    <div fxLayout="row" class="pos-rel" fxLayoutAlign="space-around center">
                        <div class="filter">
                            Filter by Date:
                        </div>
                        <mat-form-field class="date margin-left-date" appearance="outline">
                            <mat-label>From</mat-label>
                            <input matInput [min]="this.minDate" [max]="this.maxDate" [matDatepicker]="from" [(ngModel)]="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="date margin-left-date" appearance="outline">
                            <mat-label>To</mat-label>
                            <input matInput [min]="fromDate ? fromDate : this.minDate" [max]="this.maxDate" [matDatepicker]="to" [(ngModel)]="toDate">
                            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </mat-form-field>
                        <mat-divider class="mat-divide" [vertical]="true"></mat-divider>
                        <div fxLayout="column" fxLayoutAlign="start">
                            <mat-form-field appearance="outline">
                                <mat-label>Maximum Tweets to parse</mat-label>
                                <input matInput type="number" min="1" max="5000" [(ngModel)]="maximum" (ngModelChange)="maxChanged($event)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-left-5" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <button mat-raised-button color="primary" (click)="maximum<=5000 ? getData() : countError = true">Find</button>
                </div>
            </div>
            <div [ngClass]="isCall ? 'show-class' : 'hide-class'" class="sc-margin-left-2" fxLayoutAlign="center center">
                <sa-spinner-dotted [enabled]="true" [color]="'#000000'"></sa-spinner-dotted>
            </div>
        </div>
    </div>
    <div *ngIf="done && !isCall" fxLayoutAlign="center enter">
        <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [legend]="pieChartLegend">
        </canvas>
    </div>
    <div fxLayout="row" *ngIf="done && !isCall" fxLayoutAlign="center center" class="width-100 margin-top-2">
        <mat-accordion class="width-80">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tweets classified positively
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-paginator [length]="posNumber"
                    [pageSize]="50"
                    (page)="changePage($event,'positive')"
                    aria-label="Select page">
                </mat-paginator>
                <div class="margin-bottom-1" *ngFor="let tweet of currPositiveTweets">
                    {{ tweet }}
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tweets classified negatively
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-paginator [length]="negNumber"
                    [pageSize]="50"
                    (page)="changePage($event,'negative')"
                    aria-label="Select page">
                </mat-paginator>
                <div class="margin-bottom-1" *ngFor="let tweet of currNegativeTweets">
                    {{ tweet }}
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" *ngIf="type == 'diagram'">
    <img src="../../assets/flow-d.png">
    <div class="margin-top-2 font-15">
        <ul>
            <li>The classification of tweets into postive and negative sentiments is done by using a logistic regression model trained on 1.6 million tweet dataset.</li>
            <li>Later, the model has been imported into a flask app that is now running using Azure functions.</li>
            <li>A nodeJS function is used to pull the data from the twitter API, and push it to flask function. Flask function returns with predictions.</li>
            <li>Tweets are segragated and the data is shown using pie chart on the client browser using Angular.</li>
          </ul>  
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="width-100" *ngIf="type == 'me'">
    <div>
        <img class="width-22" src="../../assets/harsha.jpg">
    </div>
    <div class="width-45">
        I'm currently pursuing Masters in Computer science at University of Texas at Dallas. I have previously worked as Software Engineer at ShopConnect.live for one year and completed my graduation in Computer Science from Indian Institute of Information Technology, Sri City. 

        <ul>
            <li><a href="https://github.com/Sri-harsha99">My Github</a></li>
            <li><a href="https://www.linkedin.com/in/sriharshamaddirala/">My LinkedIn</a></li>
        </ul> 
    </div>
</div>
