App allows us to find the current sentiment of the subreddit by analyzing it's posts and comments. We can also filter the data by date so that we can find any subreddit's mood at a period of time.

<div fxLayoutAlign="center enter">
    <div fxLayout="row">
        <div fxLayout="row">
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Subreddit</mat-label>
                    <input matInput placeholder="Ex: r/news" [(ngModel)]="inputReddit" (click)="getData()">
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="filter">
                        Filter by Date:
                    </div>
                        <mat-form-field class="date margin-left-2" appearance="outline">
                            <mat-label>From</mat-label>
                            <input matInput [matDatepicker]="from">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="date margin-left-2" appearance="outline">
                            <mat-label>To</mat-label>
                            <input matInput [matDatepicker]="to">
                            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </mat-form-field>
                
                </div>
            </div>
        </div>
        <div class="margin-left-5" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <button mat-raised-button color="primary">Find</button>
            </div>
        </div>
    </div>
</div>
