.input-key {
    width: 52vw;
  }
.date{
    width: 12vw;
}
.margin-left-date{
    margin-left: 0.5vw;
}
.sc-margin-left-2{
  margin-left: 2vw;
}
.hide-class{
  opacity: 0;
}
.bot-mar-1{
  margin-bottom: 1rem;
}
.show-class{
  opacity: 1;
}
.width-80{
  width: 80%;
}
.width-100{
  width: 100%;
}
.error{
  color: red;
  font-size: 11px;
}
.margin-left-3{
  margin-left: 3vw;
}
.pos-rel{
  position: relative;
}
.img-fluid{
  width: 5rem;
  height: 5rem;
}
.margin-right-2cm{
  margin-right: 1rem;
}
.heading{
  font-weight: 500;
  font-size: 18px;
}
.margin-top-5{
  margin-top: 5vh;
}
.icon-time{
  position: absolute;
  margin-left: 1.4rem;
  margin-top: 1.3rem !important;
  z-index: 12;
}
.margin-top-7{
  margin-top: 6vh;
}
.padding-left{
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vh;
}
.margin-top-2{
  margin-top: 2vh;
}
.font-15{
  font-size: 15px;
}
.margin-bottom-1{
  margin-bottom: 1rem;
}
.width-45{
  width: 45%;
}
.width-22{
  width: 22vw;
}
.mat-divide{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 3vh;
  border-right-width: 2px !important;
  border-right-style: solid;  
  border-color: black;
  height: 5vh;
}
.margin-left-5{
    margin-left: 5vw;
}
.padding-left-2{
  padding-left: 2rem;
}
.filter{
    margin-top: -3vh;
}
  .example-full-width {
    width: 100%;
  }
  .input-comments {
    width: 100%;
    border: 0px;
    outline: none;
  }
.white{
  background-color: white;
  margin-right: 0.5rem;
}
.example-card{
  max-width: 460px;
}
.link-css{
  text-decoration: none;
  margin-bottom: 0.6rem;
  font-size: 14px;
}
.margin-right-2{
  margin-right: 2rem;
  margin-left: 2rem;
}
.edu-card{
  width: 45rem;
}
.mail-icon{
  width: 1.5rem;
}
.margin-bot-3{
  margin-bottom: 3rem;
}
.margin-top-2{
  margin-top: 2rem;
}
.pro-img{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
::ng-deep .change-pad{
  padding: 10px 0 !important;
}

.timeline.change-pad{
  padding: 10px 0 !important;
}

.add-pad{
  margin-bottom: 1rem;
}

.head{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0.25rem;
}
.skill-card{
  width: 95%;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.op-null{
  opacity: 0;
}
.news-img{
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.italic{
  font-style: italic;
}
::ng-deep .mat-card-header-text{
  margin:0px !important;
}

.margin-skill{
  width: 45%;
  margin-bottom: 3rem;
}

.skill-but{
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.blue{
  background-color: blanchedalmond;
  color: black;
}

.head-left{
  margin-left: 2rem;
}
.icon-align{
  color: white;
}

.skill-mar{
  margin-left: 2rem;
}

.head-bot{
  margin-top: 0.75rem;
}
.proj-action{
  width: 100%;
  margin-top: 1rem;
}
.back-icon{
  background-color: #86a397;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}